language: cpp
matrix:
  include:
  - os: linux
    dist: xenial
  - os: osx
  - os: windows
    before_install:
    - choco install make -y
    - choco install zip -y
addons:
  apt:
    packages:
    - autoconf
    - libglu1-mesa-dev
  homebrew:
    packages:
    - automake
    - libtool
    - pkg-config
git:
  submodules: true
env:
  global:
  - MAKEFLAGS="-j 2"
install:
- mkdir -p "${HOME}"/Rack
- pushd "${HOME}"/Rack
- curl -o Rack-SDK.zip https://vcvrack.com/downloads/Rack-SDK-1.dev.ddf06a9.zip
- unzip Rack-SDK.zip
- popd
script:
- export RACK_DIR="${HOME}"/Rack/Rack-SDK
- make dep
- make dist

deploy:
  provider: releases
  api_key:
    secure: mcYESQ6Co3eG0MCZJkZgScUOi6xSskRJUC/8YBXgU8jFFP+VbgQH+BLXMcpZXk3PXDCqdnBzQtxC3oT+KdaM2O7c5t8Y89BrlbXKp2sHHK53FTGfJEdcbiv95STOin9lsQamL9JBUNTY4EEe2OXRa8GaVa3QSl6OLobpwuYUGCWi8xXHKBHkPflINM5mY3/fQQlcPwHaJWEMSwBfx+kJJOQPKRcmp8RyzclQVe7Hp6EeEsI8F4TzYyiLUjrciPw/9YwWBxNdkZmO8MBbAvig29anHUpDNG+dda1FZeWfMdk601s3tYnOnDy5Lhv5n0gHU6q5wllUEQN50Xn6y1kMwewZnXdCOvcuDAxWo122uZA7Ev+Xk8yDpcUPmWEdfvcF6nCEB5OzGWtcq9w7Ij3+i+y1QfP1D8dVv4xBHhGG9dvLIwJLOZYhrwf0E69IQU0OMwDzFvPVVj3kiQno6OAONhiXeODpklul72LF1g8J1ns95iamFLQjYvm8wceM6F//6jQwe8OHOC3lohGkdWQHK+EQEqcGsd8bkMlRwO5IMCXQzvyKJI3LISHFnhVrNYH3zXqYCPiXeXGk5TsSQpy9+jBrgN2kQBIKdRcLliAqKaEzBxuoQQHi9ko2ZE1O7NdryDh8llEtZFmpFrDUjBOwQ44Xxb4zZZy4sQtu11eS/p4=
  file_glob: true
  file: dist/Milkrack-*-*.zip
  skip_cleanup: true  # Don't remove dist/ before uploading files
  on:
    repo: korfuri/Milkrack
    tags: true
